body{
    background-color: lightgrey;
}
.header{
    text-align: center;
    font-family: helvetica;
    font-size: 50px;
    /* color:  */
}
.header2{
    font-family: helvetica;
    text-align: center;
}
.people{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.person{
    margin: 30px;
    border: 3px solid black;
    border-radius: 3%;
    background-color: rgba(49, 87, 131, 0.692);
}
.profile{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid rgb(14, 11, 29);
    background-color: rgb(14, 11, 29);
    border-radius: 30px;
    color:whitesmoke;
}
.name{
    align-self: center;
    font-weight: bold;
}
.age{
    align-self: center;
}
.images{
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 5cm;
    width: 5cm;
}
.genderm{
    background-color: rgb(135, 175, 250);
    border-radius: 6px;
    text-align: center;
    align-items: baseline;
    font-weight: bold;
}
.genderf{
    background-color: rgb(118, 83, 212);
    text-align: center;
    border-radius: 6px;
    align-items: baseline;
    font-weight: bold;
}
.contact{
    text-align: center;
}